In [10]:
import pandas as pd

# Load the Excel file
file_path = 'test_data.xlsx'
data_df = pd.read_excel(file_path, sheet_name='data')
labels_df = pd.read_excel(file_path, sheet_name='labels')

# Display the first few rows of each sheet
data_df.head(), labels_df.head()

(  Sample    F1     F2    F3    F4    F5    F6    F7    F8     F9  ...   F77  \
 0     S1  3.65   9.54  3.14  3.48  4.73  3.00  3.06  3.89   3.49  ...  2.96
 1     S2  3.61   3.78  3.15   NaN  3.34  6.72  3.07  8.31   3.03  ...   NaN
 2     S3  3.33  10.08  2.92  5.60  5.73  2.92   NaN  4.05  10.56  ...  2.90
 3     S4  6.71   7.24  3.14  3.47   7.3  2.86  3.14  5.22   3.62  ...  2.91
 4     S5  5.02   8.74  3.25  8.89  8.06  2.92  3.13   5.6  10.99  ...  2.90

      F78   F79   F80   F81   F83   F85    Z1     Z2    Z3
 0  11.73  2.89  8.34  3.01  9.12  2.89  3.28  12.09  8.83
 1   3.21  2.84  3.38  3.62  2.79  3.32  6.96  11.66  7.73
 2   2.87  2.68  3.30  2.83   2.8  2.73   7.6    NaN  7.68
 3   2.91  2.82  3.45  3.06  2.66  3.08  3.59  10.67  7.64
 4   2.68  2.68  3.45  2.88  2.92  2.90  6.92  12.87  7.59

 [5 rows x 86 columns],
   Sample   Label
 0     S1  Group0
 1     S2  Group1
 2     S3  Group1
 3     S4  Group1
 4     S5  Group1)

In [6]:
labels_df.head()

  Sample   Label
0     S1  Group0
1     S2  Group1
2     S3  Group1
3     S4  Group1
4     S5  Group1

In [12]:
missing_data_counts = data_df.isnull().sum()
missing_data_counts[missing_data_counts > 0]

F1     41
F2     47
F3     30
F4     49
F5     42
       ..
F83    45
F85    43
Z1     39
Z2     42
Z3     42
Length: 85, dtype: int64

In [24]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 804 entries, 0 to 803
Data columns (total 86 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Sample  804 non-null    object
 1   F1      763 non-null    float64
 2   F2      757 non-null    float64
 3   F3      774 non-null    object
 4   F4      755 non-null    float64
 5   F5      762 non-null    object
 6   F6      780 non-null    float64
 7   F7      762 non-null    object
 8   F8      758 non-null    object
 9   F9      765 non-null    object
 10  F10     773 non-null    object
 11  F11     769 non-null    object
 12  F12     763 non-null    object
 13  F13     767 non-null    object
 14  F14     755 non-null    float64
 15  F15     755 non-null    float64
 16  F16     771 non-null    float64
 17  F17     768 non-null    object
 18  F18     761 non-null    float64
 19  F19     755 non-null    object
 20  F20     760 non-null    float64
 21  F21     758 non-null    object
 22  F22     759 non-null    float64
 23  F23     757 non-null    float64
 24  F24     756 non-null    object
 25  F25     763 non-null    object
 26  F26     757 non-null    float64
 27  F27     769 non-null    float64
 28  F28     761 non-null    float64
 29  F29     768 non-null    object
 30  F30     765 non-null    float64
 31  F31     777 non-null    float64
 32  F32     778 non-null    object
 33  F33     756 non-null    float64
 34  F34     758 non-null    float64
 35  F35     765 non-null    object
 36  F36     765 non-null    object
 37  F37     773 non-null    float64
 38  F38     764 non-null    object
 39  F39     772 non-null    float64
 40  F40     757 non-null    object
 41  F41     764 non-null    float64
 42  F42     771 non-null    float64
 43  F43     757 non-null    float64
 44  F44     750 non-null    float64
 45  F45     784 non-null    float64
 46  F46     761 non-null    float64
 47  F47     765 non-null    float64
 48  F48     760 non-null    object
 49  F49     762 non-null    float64
 50  F50     767 non-null    float64
 51  F51     767 non-null    object
 52  F52     766 non-null    object
 53  F53     764 non-null    object
 54  F54     758 non-null    float64
 55  F55     767 non-null    float64
 56  F56     765 non-null    object
 57  F57     767 non-null    float64
 58  F58     769 non-null    float64
 59  F59     761 non-null    float64
 60  F60     765 non-null    object
 61  F61     760 non-null    object
 62  F62     776 non-null    object
 63  F63     757 non-null    float64
 64  F64     779 non-null    float64
 65  F65     765 non-null    float64
 66  F66     763 non-null    object
 67  F67     766 non-null    float64
 68  F68     766 non-null    object
 69  F70     765 non-null    float64
 70  F71     764 non-null    object
 71  F72     768 non-null    float64
 72  F73     759 non-null    object
 73  F74     758 non-null    float64
 74  F75     764 non-null    object
 75  F76     760 non-null    float64
 76  F77     774 non-null    float64
 77  F78     757 non-null    object
 78  F79     749 non-null    object
 79  F80     761 non-null    float64
 80  F81     766 non-null    object
 81  F83     759 non-null    object
 82  F85     761 non-null    float64
 83  Z1      765 non-null    object
 84  Z2      762 non-null    float64
 85  Z3      762 non-null    float64
dtypes: float64(47), object(39)
memory usage: 540.3+ KB

In [29]:
data_df.isnull().any()

Sample    False
F1         True
F2         True
F3         True
F4         True
          ...
F83        True
F85        True
Z1         True
Z2         True
Z3         True
Length: 86, dtype: bool

In [14]:
# Checking for missing values
missing_values = data_df.isnull().sum()
print("Missing values per column:")
print(missing_values)

# To check the percentage of missing data per column
missing_percentage = data_df.isnull().mean() * 100
print("\nPercentage of missing values per column:")
print(missing_percentage)

Missing values per column:
Sample     0
F1        41
F2        47
F3        30
F4        49
          ..
F83       45
F85       43
Z1        39
Z2        42
Z3        42
Length: 86, dtype: int64

Percentage of missing values per column:
Sample    0.000000
F1        5.099502
F2        5.845771
F3        3.731343
F4        6.094527
            ...
F83       5.597015
F85       5.348259
Z1        4.850746
Z2        5.223881
Z3        5.223881
Length: 86, dtype: float64

We can see that there are a missing values in the dataset. So we need to takecare of this. as all of the columns have missing values we need to impute the values rather deleting the rows containing the missing values.

In [16]:
from sklearn.impute import SimpleImputer

# Create a SimpleImputer for median imputation
imputer = SimpleImputer(strategy='median')

# Impute missing values in the data
imputed_data_df = pd.DataFrame(imputer.fit_transform(data_df.drop(columns=['Sample'])), columns=data_df.columns[1:])

# Add the 'Sample' column back
imputed_data_df.insert(0, 'Sample', data_df['Sample'])

imputed_data_df.head()

ValueError: Cannot use median strategy with non-numeric data:
could not convert string to float: '#value'

In [17]:
# Check for non-numeric data
non_numeric_cols = data_df.columns[data_df.drop(columns=['Sample']).apply(lambda x: pd.to_numeric(x, errors='coerce').isna().any())]
non_numeric_cols

IndexError: boolean index did not match indexed array along axis 0; size of axis is 86 but size of corresponding boolean axis is 85

In [35]:
print(data_df['F8'].unique())

[3.89 8.31 4.05 5.22 5.6 3.47 4.44 10.13 6.05 5.63 4.5 9.36 4.51 5.64 4.42
 6.61 3.79 3.73 4.52 3.7 nan 7.16 7.05 8.51 8.48 6.45 4.3 5.86 6.6 6.11
 9.37 4.01 9.15 8.25 9.85 3.88 3.49 10.92 4.69 4.43 4.22 5.06 4.56 4.55
 5.28 7.19 6.98 6.19 3.92 4.86 6.8 5.15 6.63 4.09 7.81 6.44 9.92 4.53 4.58
 6.69 6.54 4.02 5.36 8.39 7.53 4.84 4.82 4.15 7.01 6.47 8.22 10.85 4.13
 8.2 8.47 6.24 3.55 5.46 3.11 6.29 6.89 3.51 5.33 4.63 3.81 6.26 4.37 4.61
 4.24 4.76 8.28 4.92 6.12 3.95 5.83 5.54 8.18 7 5.16 5.88 3.62 4.47 4.14
 3.64 7.12 7.69 3.96 6.56 9.51 3.61 4.18 6.91 8.63 6.49 4.57 7.31 3.83
 7.04 5.25 10.73 3.72 6.95 6.01 3.87 4.77 4.27 8.26 3.99 4.03 9.02 4 4.06
 4.36 7.98 8.07 7.07 4.66 4.39 9.47 10.75 4.64 4.12 4.41 12.06 4.72 4.71
 '#value' 5.74 7.73 9.32 3.35 3.98 9.56 3.76 9.53 6.14 6.62 4.65 6.93 4.07
 9.41 6.25 6.64 6.83 4.28 5.08 6.22 5.49 3.75 4.1 5.84 6.06 3.45 5.19
 10.62 3.5 3.58 10.42 7.51 3.86 5.23 4.34 5.04 9.93 5.78 3.82 5.75 8.81
 4.2 6.57 4.08 3.57 3.9 4.89 7.47 4.75 9.89 10.08 4.11 6.99 5.98 7.94 4.95
 4.97 7.24 3.67 5.55 12.31 4.96 3.84 5.92 3.68 4.67 6.97 7.38 4.54 5.41
 11.47 3.78 11.11 5.89 9.77 4.59 5.03 12.38 3.15 5.97 4.91 6.3 3.52 3.39
 3.38 10.28 7.71 5.26 3.85 7.14 4.35 3.66 3.71 7.21 8.35 4.46 4.9 10.27
 4.23 6.67 4.38 5.14 3.42 5.61 5.7 3.77 7.37 8.12 5.37 4.21 3.93 4.78 4.19
 9.9 4.26 4.68 5.96 7.4 8.02 3.63 4.99 6.65 11.79 4.87 5.38 4.29 3.8 9.86
 4.45 3.54 7.58 4.8 5.48 3.97 6.37 6.35 9.68 4.94 6.07 6.79 4.31 4.32
 10.63 7.6 5.82 6.28 3.32 5.65 5.09 5.35 3.56 4.88 5.57 11.38 9.23 7.22
 5.72 7.5 3.28 6.46 3.43 6.7 9.66 8.97 10.9 11.32 3.37 5.62 3.29 5.51 7.27
 5.9 5.07 7.59 7.84 9.8 3.59 3.69 9.82 10.76 6.55 5.69 9.79 6.23 7.29 7.35
 3.74 7.32 7.62 5.93 4.93 6.15 6.42 7.25 5.12 5.4 10.6 6.1 3.91 7.79 11.63
 7.23 4.48 7.66 7.78 11.35 10.84 7.36 4.85 5.71 5.81 7.39 8.04 11.73 3.23
 4.62 4.33 5.42 7.64 6.32 8.17 3.36 12.96 3.4 3.94 8.37 11.89 8.16 6.39
 3.31 3.6 6.73 6.18 7.67 10.34 5.11 4.25 9.27 6.78 6.48 8.38 5.39 4.83
 12.16 10.31 8.09 5.95 3.34 5.31 4.04 7.92 3.46 8.55 5.87 3.53 6]